{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Countries</title>
</head>
<body>
{% block content %}
<main class="content">
  <div class="container-fluid p-0">
    <h1 class="h3 mb-3">Countries</h1>
    <div class="row">
      <div class="col-12 col-xl-12">
        <div class="card">
          <table class="table table-striped" id="countriesTable">
            <thead>
            <tr>
              <th style="width:75%;">Name</th>
              <th style="width:20%">Flag</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for country in countries|dictsort:"name" %}
            <tr>
              <td>{{ country.name }}</td>
              <td>{{ country.country_code }}</td>
              <td class="table-action">
                <a href="#"><i class="align-middle text-info" data-feather="edit-2"></i></a>
                <a href="#"><i class="align-middle text-danger" data-feather="trash"></i></a>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
{% block datatable %}
<script>
    $('#countriesTable').DataTable();

</script>
{% endblock datatable %}
</body>
</html>