<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
  <title>Media</title>
</head>
<body>
{% block content %}
<main class="content">
  <div class="container-fluid p-0">
    <h1 class="h3 mb-3">Media</h1>
    <div class="row">
      <div class="col-12 col-xl-12">
        <div class="card">
          <table class="table table-striped" id="mediaTable">
            <thead>
            <tr>
              <th style="width:55%;">Name</th>
              <th style="width:40%">Type</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for media in media_list|dictsort:"name" %}
            <tr>
              <td>{{ media.name }}</td>
              <td>{{ media.type }}</td>
              <td class="table-action">
                <a href="#"><i class="align-middle text-info" data-feather="edit-2"></i></a>
                <a href="#"><i class="align-middle text-danger" data-feather="trash"></i></a>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
{% block datatable %}
<script>
    $('#mediaTable').DataTable({
        "drawCallback": function(settings) {
            feather.replace();
        }
    });

</script>
{% endblock datatable %}
</body>
</html>